APP_URL="http://localhost:8787"
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""
DISCORD_GUILD_ID=""
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GITHUB_ORG=""
GITHUB_ADMIN_TOKEN=""
SESSION_SECRET="replace-with-at-least-32-random-characters"
DEBUG_UI="1"
